## Assignment 2 <br>
DESCRIPTIVE STATISTICS: Write a python script to find basic descriptive statistics
using summary, quartile function, etc on iris datasets

Measures of central tendency
1. Mean<br>
2. Median<br>
3. Mode<br>
---
Measures of Variability/Dispersion<br>
1. Variance<br>
2. SD<br>
3. Range<br>
4. Interquartile range<br>
---
Measures of frequency distribution<br>
1. Frequency<br>
2. Count<br>

### Dataset - Single elder home monitoring: Gas and position<br>
This dataset contains gas and temperature sensors as well as movement infra-red sensors from the monitoring of an elder person living alone in their own home from 2019-11-06 to 2020-02-13. The measurings have a temporal resolution of 20 seconds. The air and gas sensors measure temperature, humidity, CO2, CO and MOX readings. The data from the position sensors are binary; for each room, a 1 means that movement has been detected in that room while a 0 means that the sensor has gone back to baseline. The attached figure represents a simple layout of the monitored home as well as the sensors locations. The dataset also includes 19 days of measurements (from 2020-01-25 to 2020-02-13) where noone was occupying the room (except for an esporadic visit the 2020-01-29 at 15:), as reference data

In [ ]:
%pip install numpy
%pip install pandas
%pip install matplotlib

In [4]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [5]:
df = pd.read_csv('../data/sensorDataset.csv')

In [6]:
df.head()

,timestamp,temperature,humidity,CO2CosIRValue,CO2MG811Value,MOX1,MOX2,MOX3,MOX4,COValue
0,2020-01-25 00:01:49.251503+01:00,20.64,55.57,121.0,496.0,521.0,694.0,652.0,591.0,135.0
1,2020-01-25 00:02:09.350082+01:00,20.64,55.53,122.0,495.0,521.0,694.0,652.0,591.0,135.0
2,2020-01-25 00:02:29.319505+01:00,20.62,55.53,121.0,495.0,522.0,694.0,651.0,591.0,135.0
3,2020-01-25 00:02:49.399379+01:00,20.62,55.57,121.0,495.0,522.0,694.0,651.0,591.0,135.0
4,2020-01-25 00:03:09.158989+01:00,20.62,55.59,121.0,495.0,522.0,694.0,652.0,591.0,135.0

In [7]:
df.shape

(75511, 10)

In [8]:
df.columns

Index(['timestamp', 'temperature', 'humidity', 'CO2CosIRValue',
       'CO2MG811Value', 'MOX1', 'MOX2', 'MOX3', 'MOX4', 'COValue'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75511 entries, 0 to 75510
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      75511 non-null  object
 1   temperature    75511 non-null  float64
 2   humidity       75511 non-null  float64
 3   CO2CosIRValue  75511 non-null  float64
 4   CO2MG811Value  75511 non-null  float64
 5   MOX1           75511 non-null  float64
 6   MOX2           75511 non-null  float64
 7   MOX3           75511 non-null  float64
 8   MOX4           75511 non-null  float64
 9   COValue        75511 non-null  float64
dtypes: float64(9), object(1)
memory usage: 5.8+ MB

In [10]:
df.describe()

,temperature,humidity,CO2CosIRValue,CO2MG811Value,MOX1,MOX2,MOX3,MOX4,COValue
count,75511.000000,75511.000000,75511.000000,75511.000000,75511.00000,75511.000000,75511.000000,75511.000000,75511.000000
mean,20.025767,56.690943,70.176226,510.003523,538.73139,724.035849,675.748619,625.210473,114.237290
std,1.404978,2.416317,22.969229,9.233296,21.36482,19.940654,22.754632,27.964882,21.903941
min,14.820000,46.270000,37.000000,420.000000,339.00000,634.000000,575.000000,473.000000,82.000000
25%,19.940000,55.360000,53.000000,502.000000,530.00000,710.000000,663.000000,611.000000,101.000000
50%,20.230000,57.030000,69.000000,509.000000,537.00000,722.000000,676.000000,626.000000,109.000000
75%,20.640000,58.310000,74.000000,518.000000,545.00000,742.000000,690.000000,643.000000,120.000000
max,23.470000,69.260000,198.000000,526.000000,598.00000,791.000000,734.000000,690.000000,918.000000

### Measures of Central Tendency

#### Mean

In [11]:
df['humidity'].mean()

56.69094290898015

In [12]:
df['MOX1'].mean()

538.7313901285905

#### Median

In [13]:
df['CO2CosIRValue'].median()

69.0

In [14]:
df['humidity'].median()

57.03

#### Mode

In [15]:
df['CO2MG811Value'].mode()

0    518.0
Name: CO2MG811Value, dtype: float64

### Measures of Variability

### Variance

In [16]:
df['temperature'].var()

1.9739623428638624

In [17]:
df['MOX4'].var()

782.0346173782444

### Standard Deviation

In [18]:
df['MOX2'].std()

19.94065355923512

#### Range

In [21]:
range_temperature = max(df['temperature']) - min(df['temperature'])
range_temperature

8.649999999999999

#### Interquartile Range

In [22]:
quartile1 = np.percentile(df['CO2MG811Value'], 25)
quartile3 = np.percentile(df['CO2MG811Value'], 75)

In [23]:
interquartile_range = quartile3 - quartile1
interquartile_range

16.0

### Measures of frequency distribution

#### Frequency and Count

In [28]:
unique_elements, counts_elements = np.unique(df['COValue'], return_counts=True)

In [27]:
print(counts_elements)
print(unique_elements)

[  89  186  291  177  222  187  102  160  231  883 2125 2062 1454 1279
 1371 1421 1517 1870 2772 2568 2130 2280 2671 2495 2333 1860 1701 1547
 1546 1729 2294 2413 2153 1739 1725 1924 1698 1423 1216 1178 1233  963
  752  592  568  673  494  386  345  311  243  151  175  115   80  147
  164  158   74   77   45   47   31   83  125  141  152  270  344  257
  158  180  203  164  350  487  435  408  418  406  421  391  453  236
  157  138  250  213  200  180  190  206  338  154  152   96   48   48
   19   10    9   12   17    8   14    1    5    1    4    2    1    1
    3    1    2    1    1    3    1    2    2    1    2    1    2    2
    5    2    1    6    2    1    2    2    1    1    1    1    4    1
    2    1    1    1    2    1    1    1    1    1    2    1    4    2
    1    1    1    4    2    2    7    1    1    1    1    1    1    1
    1    1    1    6]
[ 82.  83.  84.  85.  86.  87.  88.  89.  90.  91.  92.  93.  94.  95.
  96.  97.  98.  99. 100. 101. 102. 103. 104. 105. 106. 107. 108. 109.
 110. 111. 112. 113. 114. 115. 116. 117. 118. 119. 120. 121. 122. 123.
 124. 125. 126. 127. 128. 129. 130. 131. 132. 133. 134. 135. 136. 137.
 138. 139. 140. 141. 142. 143. 144. 145. 146. 147. 148. 149. 150. 151.
 152. 153. 154. 155. 156. 157. 158. 159. 160. 161. 162. 163. 164. 165.
 166. 167. 168. 169. 170. 171. 172. 173. 174. 175. 176. 177. 178. 179.
 180. 181. 182. 183. 184. 185. 186. 187. 189. 190. 191. 193. 194. 195.
 196. 197. 198. 199. 200. 202. 203. 205. 207. 208. 209. 210. 211. 212.
 213. 214. 215. 216. 217. 218. 219. 220. 221. 222. 224. 226. 227. 228.
 229. 230. 231. 233. 234. 235. 236. 238. 239. 242. 247. 252. 254. 255.
 256. 260. 263. 264. 265. 267. 272. 275. 285. 291. 303. 315. 331. 348.
 377. 420. 532. 918.]