# Assignment 5<br>

[Wine Dataset](https://archive.ics.uci.edu/dataset/109/wine)<br>
These data are the results of a chemical analysis of wines grown in the same region in Italy but derived from three different cultivars. The analysis determined the quantities of 13 constituents found in each of the three types of wines.

In [2]:
%pip install seaborn

Collecting seaborn
  Downloading seaborn-0.13.0-py3-none-any.whl (294 kB)
                                              0.0/294.6 kB ? eta -:--:--
     ------------------------------------- 294.6/294.6 kB 19.0 MB/s eta 0:00:00
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (1.25.2)
Requirement already satisfied: pandas>=1.2 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (2.1.0)
Requirement already satisfied: matplotlib!=3.6.1,>=3.3 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.1.0)
Requirement already satisfied: cycler>=0.10 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (4.42.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\admin\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (10.0.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\admin\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.2->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.3->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.13.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
names = ['cultivator', 'class', 'Alcohol'	,'Malicacid' ,'Ash' ,'Alcalinity_of_ash' ,'Magnesium' ,'Total_phenols' ,'Flavanoids' ,'Nonflavanoid_phenols' ,'Proanthocyanins', 'Hue', '0D280_0D315_of_diluted_wines', 'Proline']

In [17]:
len(names)

14

In [20]:
df = pd.read_csv('C:/Users/Admin/Desktop/FODS-69/data/wine/wine.data', names=names)
df.head()

,cultivator,class,Alcohol,Malicacid,Ash,Alcalinity_of_ash,Magnesium,Total_phenols,Flavanoids,Nonflavanoid_phenols,Proanthocyanins,Hue,0D280_0D315_of_diluted_wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [42]:
df.describe()

,class,Alcohol,Malicacid,Ash,Magnesium,Total_phenols,Flavanoids,Nonflavanoid_phenols,Proanthocyanins,Hue,0D280_0D315_of_diluted_wines
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,13.000618,2.336348,2.366517,19.494944,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685
std,0.811827,1.117146,0.274344,3.339564,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990
min,11.030000,0.740000,1.360000,10.600000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000
25%,12.362500,1.602500,2.210000,17.200000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500
50%,13.050000,1.865000,2.360000,19.500000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000
75%,13.677500,3.082500,2.557500,21.500000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000
max,14.830000,5.800000,3.230000,30.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000

In [22]:
df.shape

(178, 14)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   cultivator                    178 non-null    int64
 1   class                         178 non-null    float64
 2   Alcohol                       178 non-null    float64
 3   Malicacid                     178 non-null    float64
 4   Ash                           178 non-null    float64
 5   Alcalinity_of_ash             178 non-null    int64
 6   Magnesium                     178 non-null    float64
 7   Total_phenols                 178 non-null    float64
 8   Flavanoids                    178 non-null    float64
 9   Nonflavanoid_phenols          178 non-null    float64
 10  Proanthocyanins               178 non-null    float64
 11  Hue                           178 non-null    float64
 12  0D280_0D315_of_diluted_wines  178 non-null    float64
 13  Proline                       178 non-null    int64
dtypes: float64(11), int64(3)
memory usage: 19.6 KB

In [34]:
df.dtypes

cultivator                       object
class                           float64
Alcohol                         float64
Malicacid                       float64
Ash                             float64
Alcalinity_of_ash                 int64
Magnesium                       float64
Total_phenols                   float64
Flavanoids                      float64
Nonflavanoid_phenols            float64
Proanthocyanins                 float64
Hue                             float64
0D280_0D315_of_diluted_wines    float64
Proline                         float64
dtype: object

In [35]:
df.nunique()

cultivator                        3
class                           126
Alcohol                         133
Malicacid                        79
Ash                              63
Alcalinity_of_ash                53
Magnesium                        97
Total_phenols                   132
Flavanoids                       39
Nonflavanoid_phenols            101
Proanthocyanins                 132
Hue                              78
0D280_0D315_of_diluted_wines    122
Proline                         121
dtype: int64

In [39]:
df['cultivator'] = df['cultivator'].astype('object')
df['Proline'] = df['Proline'].astype('object')
df['Alcalinity_of_ash'] = df['Alcalinity_of_ash'].astype('object')

In [40]:
df.dtypes

cultivator                       object
class                           float64
Alcohol                         float64
Malicacid                       float64
Ash                             float64
Alcalinity_of_ash                object
Magnesium                       float64
Total_phenols                   float64
Flavanoids                      float64
Nonflavanoid_phenols            float64
Proanthocyanins                 float64
Hue                             float64
0D280_0D315_of_diluted_wines    float64
Proline                          object
dtype: object

In [41]:
df.isnull().sum()

cultivator                      0
class                           0
Alcohol                         0
Malicacid                       0
Ash                             0
Alcalinity_of_ash               0
Magnesium                       0
Total_phenols                   0
Flavanoids                      0
Nonflavanoid_phenols            0
Proanthocyanins                 0
Hue                             0
0D280_0D315_of_diluted_wines    0
Proline                         0
dtype: int64